<a href="https://colab.research.google.com/github/Lstemm/DSC-502.ICA3/blob/main/DSC_502_ICA4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
filename = '/content/drive/MyDrive/Copy of lego_setsHB.csv'
import pandas as pd
df = pd.read_csv(filename)
# 1
df.info()
df.describe()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   list_price         12261 non-null  float64
 1   num_reviews        10641 non-null  float64
 2   piece_count        12261 non-null  int64
 3   play_star_rating   10486 non-null  float64
 4   prod_id            12261 non-null  int64
 5   review_difficulty  10206 non-null  object
 6   star_rating        10641 non-null  float64
 7   val_star_rating    10466 non-null  float64
dtypes: float64(5), int64(2), object(1)
memory usage: 766.4+ KB

,list_price,num_reviews,piece_count,play_star_rating,prod_id,review_difficulty,star_rating,val_star_rating
0,29.99,2.0,277,4.0,75823,Average,4.5,4.0
1,19.99,2.0,168,4.0,75822,Easy,5.0,4.0
2,12.99,11.0,74,4.3,75821,Easy,4.3,4.1
3,99.99,23.0,1032,3.6,21030,Average,4.6,4.3
4,79.99,14.0,744,3.2,21035,Challenging,4.6,4.1

In [21]:
# 2
df[(df["star_rating"] >= 4.0)]

,list_price,num_reviews,piece_count,play_star_rating,prod_id,review_difficulty,star_rating,val_star_rating
0,29.9900,2.0,277,4.0,75823,Average,4.5,4.0
1,19.9900,2.0,168,4.0,75822,Easy,5.0,4.0
2,12.9900,11.0,74,4.3,75821,Easy,4.3,4.1
3,99.9900,23.0,1032,3.6,21030,Average,4.6,4.3
4,79.9900,14.0,744,3.2,21035,Challenging,4.6,4.1
...,...,...,...,...,...,...,...,...
12255,36.5878,8.0,341,4.2,70610,Average,4.6,4.5
12256,36.5878,6.0,341,4.4,70609,Easy,4.3,4.2
12258,24.3878,18.0,233,4.6,70607,Easy,4.6,4.5
12259,12.1878,1.0,48,5.0,70628,Very Easy,5.0,5.0
12260,12.1878,11.0,109,4.5,70606,Easy,4.7,4.8

In [23]:
# 3
star_4 = len(df[df["star_rating"] >= 4.0])
star_4

9563

In [24]:
# 4
df_star_4 = df[(df["star_rating"] >= 4.0)]
df_star_4['list_price'].mean()

np.float64(68.24627018717976)